extends layout

block content
	.container
		h1.page-header Cidades
		p.bs-description
			| Relação de cidades cadastradas na API de Transporte Público.
		.bs-example
			table.table.table-striped
				thead
					tr
						th #
						th Nome
						th Estado
						th(colspan='2')
				tbody
					each cidade in cidades
						tr
							td= cidade.id
							td= cidade.nome
							td= cidade.estado
							td
								a.button(href='#', title='Editar')
									i.glyphicon.glyphicon-edit
									span.text Editar
							td
								a.button(href='#', title='Deletar')
									i.glyphicon.glyphicon-trash
									span.text Deletar