extends layout

.header
  h1 Cidades
  .content
      h2.content-subhead Lista de cidades cadastradas
      table.pure-table.pure-table-horizontal
          tr
            th Linha
            th Nome
          tr
            td Lorem
            td Ipsum
