extends layout

block content
	.header
		h1 Empresas
	.content
		table.pure-table.pure-table-horizontal
			thead
				tr
					th #
					th ID Cidade
					th Nome
					th(colspan='2')
			tbody
				each empresa in empresas
					tr
						td= empresa.id
						td= empresa.id_cidade
						td= empresa.nome
						td
							a.delete-button(href='#', title='Editar registro')
								i.icon-edit-pencil
						td
							a.delete-button(href='#', title='Deletar registro')
								i.icon-garbage