extends layout

block content
	.container
		h1.page-header Empresas
		p.bs-description
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere cumque vel ipsa dolore repudiandae, quos facilis optio debitis. Excepturi tempora fugiat dolor quia neque omnis reprehenderit iste nulla. Nobis, voluptatum?
		.bs-example
			table.table.table-striped
				thead
					tr
						th #
						th Código cidade
						th Nome
						th(colspan='2')
				tbody
					each empresa in empresas
						tr
							td= empresa.id
							td= empresa.id_cidade
							td= empresa.nome
							td
								a.button(href='#', title='Editar')
									i.glyphicon.glyphicon-edit
									span.text Editar
							td
								a.button(href='#', title='Deletar')
									i.glyphicon.glyphicon-trash
									span.text Deletar