extends layout

block content
	.container
		h1.page-header Horários
		p.bs-description
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere cumque vel ipsa dolore repudiandae, quos facilis optio debitis. Excepturi tempora fugiat dolor quia neque omnis reprehenderit iste nulla. Nobis, voluptatum?
		form(role='form')
			.row
				.col-xs-3
					label(for='modo-busca') Selecione o modo de busca
					select#modo-busca.form-control
						option(value='linha', selected) Por número da linha
						option(value='nome') Por nome da linha
				.col-xs-2
					label(for='texto-busca') Digite o texto
					input#texto-busca.form-control(required)
			.form-group
			button(type='submit').btn.btn-default.submit Buscar
		hr
		.table-result