extends layout
block content
	#container.bs-docs-header
		.container
			h1 Bem-vindo a API de Transporte Público
			p
				| API - Application Programming Interface - é um conjunto de rotinas geradas por um sistema que permite a utilização de suas funcionalidades por outros sistemas.
			p
				| A API do Transporte Público provê informações em tempo real do monitoramento de linhas, horários e itinerários de ônibus.
			a.btn.btn-default(href='/cidades', role='button') Comece agora!