doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Varela+Round')
		link(rel='stylesheet', href='/bootstrap-3.3.5/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-3.3.5/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/bootstrap-3.3.5/docs.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:300,500')
		link(rel='stylesheet', href='/stylesheets/custom.css')
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') API
				div
					ul.nav.navbar-nav
						li(class= setMenu == 'cidades' ? 'active' : '')
							a(href='/cidades') Cidades
						li(class= setMenu == 'empresas' ? 'active' : '')
							a(href='/empresas') Empresas
						li(class= setMenu == 'linhas' ? 'active' : '')
							a(href='/linhas') Linhas
						li(class= setMenu == 'vias' ? 'active' : '')
							a(href='/vias') Vias
						li(class= setMenu == 'horarios' ? 'active' : '')
							a(href='/horarios') Horários
		block content
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	if script
		script(type='text/javascript', src='/javascripts/' + script + '.js')