doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #layout
          a#menuLink.menu-link(href='#')
            span
          #menu
            .pure-menu
              a.pure-menu-heading(href='#') API
              ul.pure-menu-list
                li.pure-menu-item
                  a.pure-menu-link(href='/views/cidades') Cidades
                li.pure-menu-item
                  a.pure-menu-link(href='/views/empresas') Empresas
                li.pure-menu-item
                  a.pure-menu-link(href='/views/linhas') Linhas
                li.pure-menu-item
                  a.pure-menu-link(href='/views/vias') Vias
                li.pure-menu-item
                  a.pure-menu-link(href='/views/horarios') Horários
                li.pure-menu-item
                  a.pure-menu-link(href='/views/itinerarios') Itinerários
          #main
  script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript', src='/javascripts/main.js')