extends layout

block content
	.header
		h1 Linhas
	.content
		table.pure-table.pure-table-horizontal
			thead
				tr
					th #
					th ID Empresa
					th Nome
					th Linha
					th(colspan='2')
			tbody
				each linha in circulares
					tr
						td= linha.id
						td= linha.id_empresa
						td= linha.linha
						td= linha.nome
						td
							a.delete-button(href='#', title='Editar registro')
								i.icon-edit-pencil
						td
							a.delete-button(href='#', title='Deletar registro')
								i.icon-garbage