.modal-header
	button(type='button', data-dismiss='modal' aria-label='Close', title='Fechar').close
		span(aria-hidden='true') ×
	h2.page-header
		| Linha 113 - Pioneiros
	p Consulta de horários dos ônibus metropolitanos.
.modal-body
	div
		// Nav tabs
		ul.nav.nav-tabs(role='tablist')
			li.active(role='presentation')
				a(href='#dias-uteis', aria-controls='dias-uteis', role='tab', data-toggle='tab') Dias úteis
			li(role='presentation')
				a(href='#sabado', aria-controls='sabado', role='tab', data-toggle='tab') Sábado
			li(role='presentation')
				a(href='#domingo', aria-controls='domingo', role='tab', data-toggle='tab') Domingo
			li(role='presentation')
				a(href='#feriados', aria-controls='feriados', role='tab', data-toggle='tab') Feriados
		// Tab panes
		.tab-content
			#dias-uteis.tab-pane.active(role='tabpanel')
				table.table.table-striped
					thead
						tr
							th Local
							th Horário
					tbody
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
						tr
							td Saída Terminal Central
							td 06:25
						tr
							td Chegada UTFPR
							td 06:42
			#sabado.tab-pane(role='tabpanel') ...
			#domingo.tab-pane(role='tabpanel') ...
			#feriados.tab-pane(role='tabpanel') ...
.modal-footer
	small
		| * Esporadicamente horários de saída/chegada podem sofrer atrasos de alguns minutos.