.modal-header
	button(type='button', data-dismiss='modal' aria-label='Close', title='Fechar').close
		span(aria-hidden='true') ×
	h2.page-header= modalTitle
	if horarios.length > 0
		p Consulta de horários dos ônibus metropolitanos.
.modal-body
	if horarios.length > 0
		// Nav tabs
		ul.nav.nav-tabs(role='tablist')
			li.active(role='presentation')
				a(href='#dias-uteis', aria-controls='dias-uteis', role='tab', data-toggle='tab') Dias úteis
			li(role='presentation')
				a(href='#sabado', aria-controls='sabado', role='tab', data-toggle='tab') Sábado
			li(role='presentation')
				a(href='#domingo', aria-controls='domingo', role='tab', data-toggle='tab') Domingo
			li(role='presentation')
				a(href='#feriados', aria-controls='feriados', role='tab', data-toggle='tab') Feriados
		// Tab panes
		.tab-content
			#dias-uteis.tab-pane.active(role='tabpanel')
				table.table.table-striped
					thead
						tr
							th Local
							th Horário
					tbody
						each horario in horarios
							tr
								td= horario.local
								td= horario.hora
			#sabado.tab-pane(role='tabpanel') ...
			#domingo.tab-pane(role='tabpanel') ...
			#feriados.tab-pane(role='tabpanel') ...
	else
		.alert.alert-danger Não há horários disponíveis para esta via de ônibus.
.modal-footer
	small
		| * Esporadicamente horários de saída/chegada podem sofrer atrasos de alguns minutos.