if linhas.length > 0
	.bs-example
			table.table.table-striped
				thead
					tr
						th Linha
						th Ônibus
						th Via
				tbody
					each linha in linhas
						tr
							td
								a.icon-button(title='Exibir horários', href='/mostrar-horarios/' + linha.id_via, data-toggle='modal', data-target='#modal-horarios')
									i.glyphicon.glyphicon-time
								a.icon-button(title='Exibir itinerário', href='/mostrar-itinerarios/' + linha.id_via, data-toggle='modal', data-target='#modal-itinerarios')
									i.glyphicon.glyphicon-list-alt
								= linha.codigo
							td= linha.linha
							td= linha.via

	#modal-horarios.modal.fade(role='dialog')
		.modal-dialog
			.modal-content
	#modal-itinerarios.modal.fade(role='dialog')
		.modal-dialog
			.modal-content
else
	.alert.alert-danger Nenhum resultado encontrado.