if linhas.length > 0
	.bs-example
			table.table.table-striped
				thead
					tr
						th Linha
						th Ônibus
						th Via
				tbody
					each linha in linhas
						tr
							td
								a.icon-button(title='Exibir horários', href='/mostrar-horarios/' + linha.id_via, data-toggle='modal', data-remote='true', data-target='#modal-horarios')
									i.glyphicon.glyphicon-time
								a.icon-button(href='#', title='Exibir itinerário')
									i.glyphicon.glyphicon-list-alt
								= linha.codigo
							td= linha.linha
							td= linha.via
	.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', id='linha.id')

	#modal-horarios.modal.fade(role='dialog', data-remote='true')
			.modal-dialog
				.modal-content
else
	.alert.alert-danger.alert-dismissible(role='alert')
		button(type='button', data-dismiss='alert', aria-label='Close').close
			span(aria-hidden='true')
				&times;
		| Nenhum resultado encontrado.