extends layout

block content
	.container
		h1.page-header Vias
		p.bs-description
			| Relação de vias de ônibus cadastradas na API de Transporte Público.
		.bs-example
			table.table.table-striped
				thead
					tr
						th #
						th ID do ônibus
						th VIa
						th(colspan='2')
				tbody
				each via in vias
					tr
						td= via.id
						td= via.id_onibus
						td= via.nome
						td
							a.button(href='#', title='Editar')
								i.glyphicon.glyphicon-edit
								span.text Editar
						td
							a.button(href='#', title='Deletar')
								i.glyphicon.glyphicon-trash
								span.text Deletar